<div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Sorry it is not possible!</strong> {{errorMsj}}!
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="!respModel.success"  class="row">
    <div class="col-sm-4">
        <div class="form">
            <form [formGroup]="formCheckout" (ngSubmit)="save()">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Full name" formControlName="name">
                  <span class="text-danger"
                        *ngIf="(formCheckout.controls['name'].touched || submitted) && formCheckout.controls['name'].errors?.['required']">
                                Name is required
                    </span>
                </div>
                <div class="form-group">
                  <label for="creditCardNumber">Credit Card Number</label>
                  <input type="text" class="form-control" id="creditCardNumber" placeholder="XXXXXXXXXXX" formControlName="creditCardNumber">
                  <span class="text-danger"
                        *ngIf="(formCheckout.controls['creditCardNumber'].touched || submitted) && formCheckout.controls['creditCardNumber'].errors?.['required']">
                                Credit Card Number is required
                    </span>
                </div>
                <div class="form-group">
                    <div></div><br>
                </div>
                <button type="submit"  class="btn btn-primary" >Checkout</button>
              </form>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="cartTotal">
            <p class="cartTotal-total">Total: $ {{totalCart() | number : '1.2-2'}}</p>
        </div>
        <table class="table mt-2 table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of myCart$ | async">
                <td>{{product.name}}</td>
                <td class="alnright">{{product.quantity}}</td>
                <td class="alnright">$ {{product.price | number : '1.2-2'}}</td>
                <td class="alnright">$ {{totalProduct(product.price,product.quantity)}}</td>
              </tr>
            </tbody>
        </table> 
    </div>
</div>
<div *ngIf="respModel.success" class="row">
    <div class="row">
       <h4 class="alert-heading">Congratulations your order is placed successfully!</h4>
        <ul>
            <li><strong>Order ID:</strong> {{respModel.orderId}}</li>
            <li><strong>Reserved :</strong> {{respModel.fundReservedCode}}</li>
            <li><strong>Payment Confirmation:</strong> {{respModel.paymentCode}}</li>
        </ul>
      
    </div>
    <div class="row">
        <div class="col-sm-4"> 
            <button (click)="cleanAndReturn()" type="button" class="btn btn-success">Products</button>
        </div>
    </div>
    <div class="row">
        <div class="cartTotal">
            <p class="cartTotal-total">Total: $ {{totalItems() | number : '1.2-2'}}</p>
        </div>
        <table class="table mt-2 table-bordered">
            <thead class="table-primary">
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of items">
                <td>{{product.name}}</td>
                <td class="alnright">{{product.quantity}}</td>
                <td class="alnright">$ {{product.price | number : '1.2-2'}}</td>
                <td class="alnright">$ {{totalProduct(product.price,product.quantity)}}</td>
              </tr>
            </tbody>
        </table> 
    </div>
</div>

